<h3>Hi <%= current_user.name %>!</h3>
<p> Track your important events and dates here.. and we would make sure you nevernever miss them again! </p> 

<%= link_to "Add an Event", new_event_path,  class: "btn btn-primary" %> &nbsp; <%= link_to "Update Profile", users_path,  class: "btn btn-primary" %>
<br>
