<h3>User details</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>      
      </tr>
    
  </tbody>
</table>

<br>
<% if current_user.admin? %>
  <%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
<% end %>