<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>&#39;<%= @event.details %>&#39; is coming up!</h3>
    <p>
      We are sending you an email because you had requested us to remind you about it.
    </p>
    <p>
      We hope we could help!!
    </p>
    
  </body>
</html>